.cart{
    max-width: 820px;
    margin-top: 150px;
    margin-bottom: 200px;
    margin: 90px auto;
    

    h2{
        padding-top: 15px;
        @extend %title-text;
        text-align: center;
        font-weight: 700;
        font-size: 32px;
        padding-bottom: 20px;
    }
    p{
        text-align: center;
        @extend %main-text;
        font-size: 20px;
        font-weight: 600;
    }
    &__button{
        display: flex;
        margin: 15px auto;
        align-items: center;
        justify-content: space-evenly;
        background-color: #333;
        color: #fff;
        @extend %title-text;
        font-weight: 800;
        width: 155px;
        height: 38px;
        border-radius: 10px;
        &:hover{
            color: #f40a0a;
            
        }
    }
    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__top-title{
        
        svg{
            position: relative;
            top: 0;
            width: 28px;
            height: 28px;
            margin-right: 10px;
        }
    }
    &__top-clear{
        opacity: 0.45;
        display: flex;
        align-items: center;
        @extend %title-text;
        font-size: 26px;
        font-weight: 600;
        &:hover{
            opacity: 1;
        }
    }
}